In [1]:
import pandas as pd
from methods import data_handler
from tqdm import tqdm

from torchvision import datasets
import os
from itertools import chain

Bad key "text.kerning_factor" on line 4 in
/Users/julianvonklitzing/opt/anaconda3/envs/xai_env/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution
/Users/julianvonklitzing/opt/anaconda3/envs/xai_env/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Read questionnaire information from picking procedure

In [6]:
questionnaires = data_handler.get_questionaires("data2/questionaires_shuffled.pickle")
labels = data_handler.get_labels()

Using downloaded and verified file: ./data/imagenet_class_index.json

In [33]:
def get_label_from_img_idx(img_idx, testset_path, labels):    
    img_folder = datasets.ImageFolder(root=testset_path)
    img_path = img_folder.imgs[img_idx][0]
    img_name = img_path.split(os.sep)[-1]
    # extract correct class
    class_idx_true_str = img_path.split(os.sep)[-2]
    img_label_true = labels[class_idx_true_str][1]
    return img_label_true

In [34]:
# enrich questionnaire data with image label names
questionnaires_2 = []
for questionnaire in tqdm(questionnaires):
    questionnaire_2 = []
    for question in questionnaire:
        label = get_label_from_img_idx(question[0], "data2/imagenetv2-matched-frequency-format-val", labels)
        question_labled = (label, ) + question        
        questionnaire_2.append(question_labled)
    questionnaires_2.append(questionnaire_2)

100%|███████████████████████████████████████████| 12/12 [00:36<00:00,  3.03s/it]

## Load question codes used in SoSci

In [36]:
codes_list = []
for i in range(1, 12+1):
    codes = pd.read_csv(f"questionaires_shuffle_order/questionaire_{i}.txt", sep=";", names=[0, 1])[1]
    codes = codes.str.extract("(\w\d{3})")
    codes = list(codes[0])
    codes_list.append(codes)

## Create questions meta data df

In [43]:
df_quest_meta = pd.DataFrame(list(chain(*questionnaires_2)))
df_quest_meta[5] = list(chain(*codes_list))
df_quest_meta.columns = ["label", "img_idx", "model", "method", "success", "quest_code"]

In [45]:
df_quest_meta

                 label  img_idx model               method  success quest_code
0        custard_apple     9521   vgg                  LRP     True       B108
1          Boston_bull     1073   vgg                 SHAP     True       B111
2        toilet_tissue     9992  alex  IntegratedGradients    False       B118
3             gas_pump     5253   vgg     ConfidenceScores    False       B123
4              mailbag     5976   vgg  IntegratedGradients    False       B124
..                 ...      ...   ...                  ...      ...        ...
283      custard_apple     9521   vgg              gradCAM     True       C307
284         coral_reef     9710  alex              gradCAM     True       C302
285       black_grouse     7798  alex                  LRP    False       C319
286  steel_arch_bridge     8034  alex                 SHAP     True       C317
287               slot     7808  alex     ConfidenceScores    False       C316

[288 rows x 6 columns]

## Load and transform questionnaire data

In [64]:
df = pd.read_excel("data2/data_tu-helpfulness-of-xai_2022-06-21_17-15.xlsx")
df = df.drop(0)

In [65]:
def convert_q_data_from_wide_to_long(df):
    df_long = pd.melt(df, id_vars="CASE", value_vars=df.columns.values[6:294]).dropna()
    df_long.columns = ["case", "question_code", "response"]
    df_long = df_melt.sort_values("case", )
    return df_long

In [66]:
df_long = convert_q_data_from_wide_to_long(df)

In [67]:
df_long

       case question_code response
19723   579          B720        1
17545   579          B702        2
19481   579          B718        2
18997   579          B714        1
19360   579          B717        1
...     ...           ...      ...
13067  1566          B512        2
12583  1566          B508        1
13672  1566          B517        1
12825  1566          B510        1
12341  1566          B506        2

[2904 rows x 3 columns]